Service References/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlackJackService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlackJackService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="Suit" type="tns:Suit" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:simpleType name="Suit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SPADES" />
      <xs:enumeration value="CLUBS" />
      <xs:enumeration value="DIAMONDS" />
      <xs:enumeration value="HEARTS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Suit" nillable="true" type="tns:Suit" />
</xs:schema>